<div class="">
  <div class="flex flex-row justify-between">
    <div></div>
    <div>
      <button
              class=" flex justify-center items-center px-4 py-2 bg-blue-500 text-sm text-white  rounded-md shadow hover:bg-blue-600 "
              (click)="AddProperty()"
            >
              New Property
            </button>
    </div>

  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-10 gap-4 py-6 px-2  text-sm  ">
    <input
      type="text"
      [(ngModel)]="filters.propertyType"
      placeholder="Property Type" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <!-- <input
      type="number"
      [(ngModel)]="filters.price"
      placeholder="Max Price" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    /> -->
    <input
      type="text"
      [(ngModel)]="filters.type"
      placeholder="Type" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <input
      type="text"
      [(ngModel)]="filters.category"
      placeholder="Category" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <input
      type="text"
      [(ngModel)]="filters.province"
      placeholder="Province" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <input
      type="number"
      [(ngModel)]="filters.rooms"
      placeholder="Rooms" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <input
      type="number"
      [(ngModel)]="filters.bathrooms"
      placeholder=" Bathrooms" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <input
      type="number"
      [(ngModel)]="filters.garage"
      placeholder="Garage" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <!-- <input
      type="number"
      [(ngModel)]="filters.size"
      placeholder="Size" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    /> -->
    <!-- <input
      type="number"
      [(ngModel)]="filters.rating"
      placeholder="Rating" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    /> -->
    <input
      type="text"
      [(ngModel)]="filters.agentName"
      placeholder="Agent Name" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <input
      type="text"
      [(ngModel)]="filters.contact"
      placeholder=" Contact" (keyup)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring focus:ring-blue-300"
    />
    <select
      [(ngModel)]="filters.status" (change)="filterTable()"
      class="filter-input border border-gray-300 rounded-lg p-2 bg-white focus:outline-none focus:ring focus:ring-blue-300"
    >
      <option value="">Status</option>
      <option value="true">Active</option>
      <option value="false">Inactive</option>
    </select>
  </div>
  <table class="table-auto w-full bg-white   overflow-hidden ">

    
     
      <thead>
        <tr class="text-gray-600 uppercase bg-gray-200 text-sm leading-normal">
          <th class="py-4 px-3 text-left">ID</th>
          <!-- <th class="py-4 px-3 text-left">Images</th> -->
          <th class="py-4 px-3 text-left">Type</th>
          <th class="py-3  text-left">Price</th>
          <th class="py-3  text-left">Type</th>
          <!-- <th class="py-3  text-left">Category</th> -->
          <!-- <th class="py-3  text-left">Tagline</th> -->
          <th class="py-3  text-left">Province</th>
          <!-- <th class="py-3  text-left">Address</th> -->
          <!-- <th class="py-3  text-left">Description</th> -->
          <th class="py-3  text-center">Rooms</th>
          <th class="py-3  text-center">Bathrooms</th>
          <th class="py-3  text-center">Garage</th>
          <!-- <th class="py-3  text-center">Size</th> -->
          <th class="py-3  text-center">Rating</th>
          <th class="py-3  text-center">Agent</th>
          <th class="py-3  text-center">Contact</th>
          <!-- <th class="py-3  text-left">Socials</th> -->
          <th class="py-3  text-center ml-4">Status</th>
          <th class="py-3  text-center">Action</th>

        </tr>
      </thead>
      <tbody class="text-gray-600 bg-gray-100 text-sm ">
        <tr *ngFor="let property of filteredData" class="border-b border-gray-200 hover:bg-gray-200 rounded-lg">
          <td class="px-3 text-left py-2">{{ property.id }}</td>

          <!-- Images -->
          <!-- <td class="  text-left">
            <div class="flex ">
              <img *ngFor="let image of property.images" [src]="image" alt="Property" class="w-16 h-16 rounded">
              <img  [src]="property.images[0]" alt="Property" class="w-16 h-10 rounded px-3 rounded-lg">
            </div>
          </td> -->
    
          <!-- Property Details -->
          <td class="px-3 text-left">{{ property.property_type }}</td>
          <td class="text-left">R {{ property.price  }}</td>
          <td class="text-left">{{ property.type }}</td>
          <!-- <td class="  text-left">{{ property.category }}</td> -->
          <!-- <td class="  text-left">{{ property.tagline }}</td> -->
          <td class="text-left">{{ property.province }}</td>
          <!-- <td class="  text-left">{{ property.address }}</td> -->
          <!-- <td class="  text-left">{{ property.description }}</td> -->
          <td class="text-center">{{ property.rooms }}</td>
          <td class="text-center">{{ property.bathrooms }}</td>
          <td class="text-center">{{ property.garage }}</td>
          <!-- <td class="  text-center">{{ property.size }} m²</td> -->
          <td class="text-center">{{ property.rating }}</td>
    
          <!-- Agent Details -->
          <td class="w-36 text-left">
            <a [routerLink]="['/agent', property.agent.id, slugify(property.agent.name)]"   class="flex items-center border border-gray-300 rounded-2xl hover:bg-gray-400 ">
              <img [src]="property.agent.image" alt="Agent" class="w-8 h-8 rounded-full mr-2 p-1">
              <span>{{ property.agent.name }}</span>
            </a>
          </td>
          <td class="text-center">{{ property.agent.contact }}</td>
          <!-- <td class="  text-left">
            <a *ngIf="property.agent.socials.facebook" [href]="property.agent.socials.facebook" target="_blank" class="text-blue-500 mr-2">Facebook</a>
            <a *ngIf="property.agent.socials.instagram" [href]="property.agent.socials.instagram" target="_blank" class="text-pink-500 mr-2">Instagram</a>
            <a *ngIf="property.agent.socials.linkedin" [href]="property.agent.socials.linkedin" target="_blank" class="text-blue-600">LinkedIn</a>
          </td> -->
    
          <!-- Status -->
          <td class="text-center">
            <label class="inline-flex items-center cursor-pointer">
              <input type="checkbox" class="toggle-checkbox" [(ngModel)]="property.status" >
              <span class="ml-2">{{ property.status ? 'Active' : 'Inactive' }}</span>
            </label>
          </td>
          <td class="flex justify-center items-center space-x-2 text-center text-sm mt-1 ">
            <button
              class=" flex justify-center items-center px-4 py-1 bg-blue-500 text-sm text-white  rounded-md shadow hover:bg-blue-600 "
              (click)="openModal('view', property.id)">
              View
            </button>
            <button
              class=" flex justify-center items-center px-4 py-1 bg-gray-500 text-white rounded-md shadow hover:bg-gray-600  duration-300"
              (click)="openModal('edit', property.id)">
              Edit
            </button>
          </td>
          
        </tr>
      </tbody>
    </table>
</div>

  