<app-pagetiltle title="ABOUT" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<section [ngStyle]="backgroundStyle">
  <div class="container mx-auto py-8">
    <div class="flex flex-wrap items-center py-8">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
          <i class="fas fa-user-friends text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
          Working with us is a pleasure
        </h3>
        <p
          class="text-lg font-normal leading-relaxed mt-4 mb-4 text-gray-300"
        >
        At our core, we believe in creating an environment where learning and collaboration thrive. Whether you're a student, educator, or professional, we strive to make your experience seamless and enjoyable. Our tools and resources are designed to empower you, so you can focus on what truly matters—achieving your goals.
        </p>
        <!-- <p
          class="text-lg font-normal leading-relaxed mt-0 mb-4 text-blueGray-600"
        >
          The kit comes with three pre-built pages to help you get started
          faster. You can change the text and images and you're good to go.
          Just make sure you enable them first via JavaScript.
        </p> -->
      </div>

      <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-[#121a36]"
        >
          <img
            alt="..."
            src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
            class="w-full align-middle rounded-t-lg"
          />
          <div class="relative bg-[#121a36] p-8 ">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full h-64 -top-64"
            >
              <polygon
                points="-30,95 583,95 583,65"
                class="text-[#121a36] fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">Tailored Solutions</h4>
            <p class="text-lg font-normal mt-2 text-gray-400">
              We understand that every individual has unique needs. That’s why we offer customizable tools and resources to fit your specific requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pb-6 relative block bg-[#121a36]">
  <!-- <div
    class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-[#121a36] fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div> -->

  <div class="container mx-auto px-4 lg:pt-24 lg:pb-32">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold text-white">Build something</h2>
        <p class="text-lg font-normal leading-relaxed mt-4 mb-4 text-gray-400">
          Our mission is to equip you with the knowledge and skills needed to thrive in today’s fast-paced world. Whether you're looking to enhance your academic performance, advance your career, or simply learn something new, we’re here to support you every step of the way.
        </p>
      </div>
    </div>
    <div class="flex flex-wrap mt-12 justify-center">
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
          class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
        >
          <i class="fas fa-medal text-xl"></i>
        </div>
        <h6 class="text-xl mt-5 font-semibold text-white">
          Excelent Services
        </h6>
        <p class="text-lg font-normal mt-2 mb-4 text-gray-400">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
          class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
        >
          <i class="fas fa-poll text-xl"></i>
        </div>
        <h5 class="text-xl mt-5 font-semibold text-white">
          Grow your market
        </h5>
        <p class="text-lg font-normal mt-2 mb-4 text-gray-400">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
          class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
        >
          <i class="fas fa-lightbulb text-xl"></i>
        </div>
        <h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>
        <p class="text-lg font-normal mt-2 mb-4 text-gray-400">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="max-w-[1100px] mx-auto py-16">
    <div class="flex justify-between flex-col md:flex-row">
      <div class="w-full md:w-1/2 p-16">
        <img src="assets/backgrounds/6.png" class="w-full" />
      </div>
      <div class="w-full md:w-1/2 p-16">
        <h3 class="pt-5 uppercase text-[#121a36] text-2xl font-bold text-left">
          Welcome to our website!
        </h3>
        <p class="mt-5 p-5 max-w-[450px] text-left text-[#121a36] text-lg font-normal leading-relaxed border-l-[5px] border-[#121a36]">
          Our goal is to make learning accessible and engaging for everyone,
          whether you are a student looking to improve your academic skills or
          an adult seeking to enhance your knowledge and career prospects. We
          understand that every student has their own unique learning style and
          pace, which is why we offer a wide range of courses and resources to
          cater to individual needs.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-[#121a36] py-10">
  <div class="max-w-[1250px] mx-auto px-5">
    <!-- Welcome Card -->
    <div class="rounded-lg shadow-lg text-center bg-white p-8 ">
      <h1 class="text-3xl font-bold text-[#121a36]">Welcome to Our School Learning Platform!</h1>
    </div>

    <!-- Row of White Cards -->
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card 1 -->
      <div class="bg-white p-8 rounded-lg shadow-lg text-center">
        <div class="inline-block bg-[#1e2a4a] p-4 rounded-full">
          <fa-icon [icon]="faUsers" class="text-2xl text-white"></fa-icon>
        </div>
        <p class="mt-5 text-lg font-normal text-gray-700">
          We continuously update and enhance our courses to align with the latest trends in education, empowering students to thrive in a fast-paced world.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="bg-white p-8 rounded-lg shadow-lg text-center">
        <div class="inline-block bg-[#1e2a4a] p-4 rounded-full">
          <fa-icon [icon]="faAddressCard" class="text-2xl text-white"></fa-icon>
        </div>
        <p class="mt-5 text-lg text-gray-700">
          Our platform fosters growth, creativity, and critical thinking, preparing students for future challenges.
        </p>
      </div>

      <!-- Card 3 -->
      <div class="bg-white p-8 rounded-lg shadow-lg text-center">
        <div class="inline-block bg-[#1e2a4a] p-4 rounded-full">
          <fa-icon [icon]="faBook" class="text-2xl text-white"></fa-icon>
        </div>
        <p class="mt-5 text-lg text-gray-700">
          We provide cutting-edge resources and tools to ensure students are equipped with the knowledge and skills they need to succeed.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="pt-20 pb-32">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center text-center mb-24">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold text-[#121a36]">Here are our heroes</h2>
        <p class="text-lg font-normal leading-relaxed m-4 text-[#121a36]">
          According to the National Oceanic and Atmospheric Administration,
          Ted, Scambos, NSIDClead scentist, puts the potentially record
          maximum.
        </p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="https://st2.depositphotos.com/1715570/5634/i/450/depositphotos_56347297-stock-photo-beautiful-young-black-woman-smiling.jpg"
            class="shadow-lg rounded-full mx-auto w-[120px] h-[120px]"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold text-[#121a36]">Ryan Tompson</h5>
            <p class="mt-1 text-md text-[#121a36] uppercase font-normal">
              Web Developer
            </p>
            <div class="mt-6">
              <button
                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-twitter"></i>
              </button>
              <button
                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-facebook-f"></i>
              </button>
              <button
                class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-dribbble"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="https://st2.depositphotos.com/1715570/5634/i/450/depositphotos_56347297-stock-photo-beautiful-young-black-woman-smiling.jpg"
            class="shadow-lg rounded-full mx-auto w-[120px] h-[120px]"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold text-[#121a36]">Romina Hadid</h5>
            <p class="mt-1 text-md text-[#121a36] uppercase font-normal">
              Marketing Specialist
            </p>
            <div class="mt-6">
              <button
                class="bg-[#121a36] text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-google"></i>
              </button>
              <button
                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-facebook-f"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="https://st2.depositphotos.com/1715570/5634/i/450/depositphotos_56347297-stock-photo-beautiful-young-black-woman-smiling.jpg"
            class="shadow-lg rounded-full mx-auto w-[120px] h-[120px]"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold text-[#121a36]">Alexa Smith</h5>
            <p class="mt-1 text-md text-[#121a36] uppercase font-normal">
              UI/UX Designer
            </p>
            <div class="mt-6">
              <button
                class="bg-[#121a36] text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-google"></i>
              </button>
              <button
                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-twitter"></i>
              </button>
              <button
                class="bg-blueGray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-instagram"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="https://st2.depositphotos.com/1715570/5634/i/450/depositphotos_56347297-stock-photo-beautiful-young-black-woman-smiling.jpg"
            class="shadow-lg rounded-full mx-auto w-[120px] h-[120px]"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold text-[#121a36]">Jenna Kardi</h5>
            <p class="mt-1 text-md text-[#121a36] uppercase font-normal">
              Founder and CEO
            </p>
            <div class="mt-6 flex flex-row justify-center">
              <button
                class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-dribbble"></i>
              </button>
              <button
                class="bg-[#121a36] text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-google"></i>
              </button>
              <button
                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-twitter"></i>
              </button>
              <button
                class="bg-blueGray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-instagram"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

