<!-- <h2 mat-dialog-title>View Data</h2>
<div mat-dialog-content>
  <p><strong>Data Type:</strong> {{ data.dataType }}</p>
  <p><strong>Price:</strong> {{ data.price }}</p>
  <p><strong>Type:</strong> {{ data.type }}</p>
  <p><strong>Category:</strong> {{ data.category }}</p>
  <p><strong>Status:</strong> {{ data.status === 'true' ? 'Active' : 'Inactive' }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->
<div class="w-full">
    <div mat-dialog-actions align="right" >
        <button mat-icon-button (click)="closeModal()" aria-label="Close" class="mt-2 mr-4">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class=" w-full bg-white px-4 pb-4">
        <!-- Data Card -->
        <div class="w-full    ">
            
            <!-- Agent Card -->
            <div class="mt-2 p-4 bg-gray-100  rounded-lg">
                <div class="flex items-center space-x-4">
                    <img src="{{data.agent.image}}" alt="Agent Image"
                        class="w-16 h-16 rounded-full">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-800">{{ data.agent.name }}</h3>
                        <p class="text-gray-600 text-sm">{{ data.agent.contact }}</p>
                    </div>
                </div>
    
                <!-- Agent Social Links -->
                <div class="mt-4 flex  flex-row space-y-2 ">
                    <a href="{{ data.agent.socials.facebook }}" class="text-blue-600 text-sm" target="_blank">
                        <mat-icon svgIcon="feather:facebook"></mat-icon> Facebook
                    </a>
                    <a href="{{ data.agent.socials.instagram }}" class="text-pink-600 text-sm" target="_blank">
                        <mat-icon svgIcon="feather:instagram"></mat-icon> Instagram
                    </a>
                    <a href="{{ data.agent.socials.linkedin }}" class="text-blue-700 text-sm" target="_blank">
                        <mat-icon svgIcon="feather:linkedin"></mat-icon> LinkedIn
                    </a>
                </div>
            </div>
            <!-- Data Information -->
            <div>
                <h2 class="text-lg font-bold text-gray-600 text-sm">Address</h2>
                <p class="text-gray-600 mt-2 text-sm">{{ data.address }}</p>
                <h2 class="text-lg font-semibold text-gray-600 text-sm">Description</h2>
                <p class="text-gray-600 mt-2 text-sm">{{ data.description }}</p>
    
    
    
                <!-- Data Status -->
                <!-- <p class="mt-4 text-sm text-gray-600">
              Status: 
              <span class="font-bold text-green-500" *ngIf="data.status">Active</span>
              <span class="font-bold text-red-500" *ngIf="!data.status">Inactive</span>
            </p>
          </div> -->
            </div>
            <!-- Data Images -->
            <div class="space-y-2">
    
                <!-- <h3 class="text-md font-semibold text-gray-800 mt-4">Property Details</h3> -->
                <div class="flex justify-between text-gray-800">
                    <span class="text-sm">Propert Type:</span>
                    <span class="font-bold text-sm">{{ data.property_type  }}</span>
                </div>
                <div class="flex justify-between text-gray-800">
                    <span class="text-sm">Type</span>
                    <span class="font-bold text-sm">{{  data.type }}</span>
                </div>
                <div class="flex justify-between text-gray-800">
                    <span class="text-sm">Catergory:</span>
                    <span class="font-bold text-sm">{{ data.category }}</span>
                </div>
                <!-- <p class="text-gray-600 text-sm">{{
                    data.property_type }} | {{ data.type }} | {{ data.category }}</p> -->
                <hr>
                <!-- Data Features -->
                <div class="space-y-2">
                    <div class="flex justify-between text-gray-800">
                        <span class="text-sm">Price:</span>
                        <span class="font-bold text-sm">{{ data.price }}</span>
                    </div>
                    <div class="flex justify-between text-gray-800">
                        <span class="text-sm">Rooms:</span>
                        <span class="font-bold text-sm">{{ data.rooms }}</span>
                    </div>
                    <div class="flex justify-between text-gray-800">
                        <span class="text-sm">Bathrooms:</span>
                        <span class="font-bold text-sm">{{ data.bathrooms }}</span>
                    </div>
                    <div class="flex justify-between text-gray-800">
                        <span class="text-sm">Garage:</span>
                        <span class="font-bold text-sm">{{ data.garage }}</span>
                    </div>
                    <div class="flex justify-between text-gray-800">
                        <span class="text-sm">Size (m²):</span>
                        <span class="font-bold text-sm">{{ data.size }}</span>
                    </div>
                    <div class="flex justify-between text-gray-800">
                        <span class="text-sm">Rating:</span>
                        <span class="font-bold text-sm">{{ data.rating }}</span>
                    </div>
                </div>
                
    
            </div>
            <div>
                <hr>
                <br>
                <h2 class="text-gray-600 text-sm font-semibold">Tagline</h2>
    
                <p class="text-gray-700 mt-2 text-sm">{{ data.tagline }}</p>
            </div>
            
    
           
        </div>
        <!-- <br>
        <hr>
        <div class="flex space-x-4 pt-6 ">
            <img *ngFor="let image of data.images" [src]="image" alt="Data Image 1" class="w-full rounded-lg">
            <img src="https://images.prop24.com/273080775/Crop508x373" alt="Data Image 1" class="w-full rounded-lg">
            <img src="https://images.prop24.com/273080776/Crop508x373" alt="Data Image 2" class="w-full rounded-lg">
        </div>
        </div> -->
</div>
