<div class="max-w-[1350px] mx-auto h-[30px] flex justify-between items-center text-[#121a36]">
    <div class="hidden sm:flex space-x-8 pt-1">
      <div class="flex items-center">
        <a href="#" class="fa fa-phone-square text-[15px]"></a>
        <p class="pl-2">+2771 234 5678</p>
      </div>
      <div class="flex items-center">
        <a href="#" class="fa fa-envelope text-[15px]"></a>
        <p class="pl-2">info@myschool.com</p>
      </div>
    </div>
  
    <ul class="flex space-x-4">
      <li>
        <a href="#" class="fa fa-facebook text-[15px] hover:opacity-80"></a>
      </li>
      <li>
        <a href="#" class="fa fa-linkedin text-[15px] hover:opacity-80"></a>
      </li>
      <li>
        <a href="#" class="fa fa-instagram text-[15px] hover:opacity-80"></a>
      </li>
      <li>
        <a href="#" class="fa fa-twitter text-[15px] hover:opacity-80"></a>
      </li>
    </ul>
  </div>
  