<app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<section class="">
  <section
    class="bg-gray-200 h-[400px] bg-[url('https://api.travelfind.me/v1/images/site/c66224c5-e632-44e7-b486-5b696fa7a08d')]">

  </section>
  <div>
    <div class="max-w-[1250px] min-h-screen mx-auto p-4 bg-white rounded-lg relative -mt-[200px]">
            <!-- CREATE POST -->
            <div class="flex justify-between bg-[#121a36] rounded-lg p-2">
              <!-- <div *ngIf="view.currentUser != null" class="flex justify-between p-2"> -->
              <div class="flex items-center gap-2">
                <div class="w-10 h-10 bg-gray-300 rounded-md">
                  <img class="rounded-md"
                    src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg" />
                </div>
                <!-- <h3 class="uppercase text-gray-200">{{ view.currentUser.first_name }} {{ view.currentUser.last_name }}</h3> -->
              </div>
              <button (click)="createAnnoucement()" class="bg-green-500 px-4 rounded-lg text-gray-100">
                Create Announcement
              </button>
              <!-- <i class="fa text-gray-200 text-xl pt-2 cursor-pointer" [ngClass]="isCollapsed ? 'fa-plus-square-o' : 'fa-times'"  aria-hidden="true"></i> -->
            </div>
            <div class="collapse" id="collapsiblecreatepost" [ngClass]="{ show: !isCollapsed }">
              <div class="bg-white shadow-md rounded-lg">
                <form class="flex flex-col gap-2" (ngSubmit)="onAnnoucementSubmit(announcementForm)"
                  #announcementForm="">
                  <input class="p-2 border rounded bg-gray-100" placeholder="Type your title..." id="title" name="title"
                    ngModel required />
                  <textarea class="p-2 border rounded bg-gray-100" placeholder="Type your message here ..."
                    id="description" name="description" ngModel required></textarea>
                  <div class="flex justify-end">
                    <button type="submit" class="w-24 text-sm px-3 py-2 bg-green-500 text-white rounded">Post</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- ANNOUNCEMENTS LIST -->
            <div class="flex flex-wrap justify-center gap-2">
              <div *ngFor="let post of announcements; let i = index" 
                class="bg-white shadow-sm rounded-lg w-[400px] border border-gray-200 overflow-hidden hover:shadow-xl transition-shadow duration-300">
                <!-- Image Section -->
                <div class="h-52 relative">
                  <img class="w-full h-full object-cover" [src]="'https://res.cloudinary.com/dzpr6z2z5/' + (post.image || 'https://picsum.photos/seed/' + i + '/200/300')" 
                  alt="Blog Image" />
                </div>
                <!-- Content Section -->
                <div class="p-4">
                  <!-- Source and Timestamp -->
                  <div class="text-sm text-gray-500 flex items-center gap-2 mb-2">
                    <div class="flex flow-row">
                      <img src='https://i.pravatar.cc/100' class="w-6 h-6 rounded-full">
                      <span class="font-semibold  pl-2 ">{{ post.user.first_name }} {{ post.user.last_name }} </span>
                    </div>
                    •
                    <span class="text-sm ">{{ post.datecreated | lastSeen }}</span>
                  </div>
                  <!-- Title -->
                  <h4 class="text-lg font-bold text-gray-900 mb-2" (click)="viewAnnouncement(post)">
                    {{ post.title }}
                  </h4>
                  <!-- <p class="line-clamp-4 text-gray-700 mb-4 cursor-pointer" (click)="viewAnnouncement(item)">
                    {{ item.description }}
                  </p> -->
                  <!-- Engagement Actions -->
                  <div class="flex justify-between items-center text-gray-600 text-sm">
                    <div class="flex items-center gap-4">
                      <span class="flex items-center gap-2 cursor-pointer" (click)="likePost(post)">
                        <i class="fa fa-thumbs-up" [ngClass]="{'text-red-500': post.user_has_liked}"></i> {{ post.like_count }}
                      </span>
                      <span class="flex items-center gap-2"><i class="fa fa-comment"></i>{{ post.comment_count }}</span>
                    </div>
                    <span class="flex items-center"><i class="fa fa-fire"></i> Trending</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="h-16">
        </div>
</section>
<div class="p-12 bg-[#121a36]">
  <app-timeline></app-timeline>
</div>