<app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<section class="bg-[#121a36]">
    <section class="bg-gray-200 h-[400px] bg-[url('https://api.travelfind.me/v1/images/site/c66224c5-e632-44e7-b486-5b696fa7a08d')]">
        
    </section>
    <div>
        <div class="max-w-[1250px] min-h-screen mx-auto p-4 bg-gray-100 background-image rounded-lg relative -mt-[200px]">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
<div class="p-12 bg-[#121a36]">
    <app-timeline></app-timeline>
</div>