<app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<section class="bg-[#121a36]">
    <section
        class="bg-gray-200 h-[400px] bg-[url('https://api.travelfind.me/v1/images/site/c66224c5-e632-44e7-b486-5b696fa7a08d')]">

    </section>
    <!-- <div> -->
        <div
            class="max-w-[1250px] mx-auto bg-gray-100 background-image rounded-lg relative -mt-[200px]">
            <div class="flex h-[700px] bg-gray-100 rounded-lg ">
                <!-- Recent Chats Section -->
                <div class="w-1/4 bg-white border-r border-gray-200">
                    <app-chat></app-chat>
                </div>

                <!-- Chat Window Section -->
                <div class="w-3/4 bg-gray-50">
                    <app-chat-window></app-chat-window>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>
<div class="p-8 bg-[#121a36]">
    <app-timeline></app-timeline>
  </div>