<app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<section class="bg-[#121a36]">
    <section>
      <div class="relative h-56 w-full overflow-hidden">
        <img 
          src="https://www.shutterstock.com/image-photo/online-digital-e-invoice-statements-260nw-1754977274.jpg" 
          alt="Announcements background"
          class="w-full h-full object-cover"
        />
        <div class="absolute inset-0 bg-gradient-to-t from-[#121a36] to-transparent"></div>
        <div class="absolute inset-0 flex flex-col items-center justify-center text-center p-8">
          
        </div>
      </div>
    </section>
    <!-- <div> -->
        <div class="max-w-[1300px] mx-auto bg-gray-100 background-image rounded-lg relative -mt-12">
            <div class="flex h-[700px] bg-gray-100 rounded-lg ">
                <!-- Recent Chats Section -->
                <div class="w-1/4 bg-white border-r border-gray-200">
                    <app-chat></app-chat>
                </div>

                <!-- Chat Window Section -->
                <div class="w-3/4 bg-gray-50">
                    <app-chat-window></app-chat-window>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>
<div class="p-12 bg-[#121a36]">
    <app-timeline></app-timeline>
  </div>